*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}

body{
    background-image: url('background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    height: 70px;
    width: 190px;
    background: #ffeb3b;
    border: none;
    color: #000;
    border-radius: 25px;
    margin-left: 600px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover{
    background: #ffc107;
    cursor: pointer;
}

h1{
    text-align: center;
    margin-top: 40px;
    padding: 0 100px;
}

h3{
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 30px;
    font-weight: 400;
    opacity: 0.9;
}

 .pkmkb{
    color: #000;
    font-family: 'Caesar Dressing', cursive;
    font-size: 2.6em;
    vertical-align: middle;
    letter-spacing: .2em;
  }
  
  .fire {
    animation: animation 1s ease-in-out infinite alternate;
    -moz-animation: animation 1s ease-in-out infinite alternate;
    -webkit-animation: animation 1s ease-in-out infinite alternate;
    -o-animation: animation 1s ease-in-out infinite alternate;
  }
  
  .burn {
    animation: animation .65s ease-in-out infinite alternate;
    -moz-animation: animation .65s ease-in-out infinite alternate;
    -webkit-animation: animation .65s ease-in-out infinite alternate;
    -o-animation: animation .65s ease-in-out infinite alternate;
  }
  
  @keyframes animation
  {
  0% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;}
  100% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #fefcc9,
    -20px -20px 40px #feec85,
    22px -42px 60px #ffae34,
    -22px -58px 50px #ec760c,
    0 -82px 80px #cd4606,
    10px -90px 80px  #973716;}
  }
  
  @-moz-keyframes animation
  {
  0% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;}
  100% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #fefcc9,
    -20px -20px 40px #feec85,
    22px -42px 60px #ffae34,
    -22px -58px 50px #ec760c,
    0 -82px 80px #cd4606,
    10px -90px 80px  #973716;}
  }
  
  @-webkit-keyframes animation
  {
  0% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;}
  100% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #fefcc9,
    -20px -20px 40px #feec85,
    22px -42px 60px #ffae34,
    -22px -58px 50px #ec760c,
    0 -82px 80px #cd4606,
    10px -90px 80px  #973716;}
  }
  
  @-o-keyframes animation
  {
  0% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;}
  100% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #fefcc9,
    -20px -20px 40px #feec85,
    22px -42px 60px #ffae34,
    -22px -58px 50px #ec760c,
    0 -82px 80px #cd4606,
    10px -90px 80px  #973716;}
  }

  .colorchange{
    animation: colorchangenikhil 1s infinite;
}

@keyframes colorchangenikhil{
    0%{color:white;}
    25%{color:#f6da2f;}
    50%{color:#f6da2f;}
    100%{color:white;}
}

 
